VITE_SUPABASE_URL=https://vdyamaqshdhnamwqvggl.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_4eiAn-5ZLzZvuHsjqhJtjQ_arannjo0
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkeWFtYXFzaGRobmFtd3F2Z2dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTMzNzAsImV4cCI6MjA4OTQ4OTM3MH0.CUONUovS6XW-YZhSWSze0Uh4wJUf2oax_7yiZPaoTdE
